@mixin theme {
	& {
		--background-color: #101010;
		--color: #efefef;

		--filter-to-background: brightness(0) saturate(100%) invert(17%)
			sepia(1%) saturate(3%) hue-rotate(89deg) brightness(97%)
			contrast(93%);
	}
}
